<?xml version="1.0" encoding="utf-8" ?>

<!--
    The app.xml file is used to configure the application.
    It is loaded by the framework and can be accessed via the Conf class.
-->

<app>
    <config id="auth">
        <session name="profile" />
        <profiles>
            <profile name="AUTH_PROFILE_ADMIN" value="admin" />
            <profile name="AUTH_PROFILE_USER" value="user" />
        </profiles>
    </config>
</app>
